/* style.css */
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.sw_container
{
    width: 100%;
    background-color: red;
    height: 200px;
    transition: 0.2s;
}
.sw_status
{
    color: white;
    text-align: center;
    width: 0px;
}
.toggle_dot
{
    border-radius: 50%;
    background-color: #fff;
    width: 65px;
    height: 65px;
    transform: translate(2px,2px);
    /* 2px OFF 50px ON */
}
.sw
{
    position: relative;
    top: 35%;
    left: 70%;
    transform: translate(-25%,-25%);
}

.sw_toggle, .sw_toggle *
{
    transition: 0.2s;
}

.sw_toggle
{
    background-color: gray;
    border-radius: 50px;
    transform: translateX(-25%);
    width: 110px;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
}
.main
{
    width: 400px;
    /* padding: 20px; */
    display: block;
    position: relative;
    /* transform: translateX(-30%); */
}
.item > .sw_toggle
{
    float: right;
    width: 80px;
    height: 50px;
}
.item .toggle_dot
{
    width: 45px;
    height: 45px;
}
.item > .item_title
{
    float: left;
    font-size: 16pt;
    margin-top: 30px;
    margin-left: 20px;
}
.item
{
    width: 100%;
    height: 80px;
    position: relative;
}
.main > *
{
    position: relative;
    display: block;
    z-index: 1;
}
.block
{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    display: block;
}